body {
  header {
    background: #ffffff;
    height:100%;
  }

  .section1,
  .section2,
  .section3 {
    padding: 0 1rem;
  }
  .container {
    background: #ffffff;
    section {
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-around;
      .item {
        width: 100%;
        padding: 0 1rem;
      }
    }
  }

	grid-kiss:
		"+-----------------------------------------------------+      "
		"|                       header ↑                     | 64px "
		"+-----------------------------------------------------+      "
		"                                                             "
		"+-----------------------------------------------------+      "
		"|                       .banner                       | auto "
		"+-----------------------------------------------------+      "
		"                                                             "
		"+- 15% -+ +-- 23% --+ +-- 23% --+ +-- 23% --+ +- 15% -+      "
		"|       | |.section1| |.section2| |.section3| |       | auto "
		"+-------+ +---------+ +---------+ +---------+ +-------+      "
		"                                                             "
		"+-----------------------------------------------------+      "
		"|                         ↓                          | 60px "
		"|                    → footer ←                     |      "
		"+-----------------------------------------------------+      "
}
