body {
  grid-kiss:
  "+-----------------------------------------------------+      "
  "|                       header ↑                     | 64px "
  "+-----------------------------------------------------+      "
  "                                                             "
  "+-----------------------------------------------------+      "
  "|                       .banner                       | auto "
  "+-----------------------------------------------------+      "
  "                                                             "
  "+-----------------------------------------------------+      "
  "|                   .authentication                   | auto "
  "+-----------------------------------------------------+      "
  "                                                             "
  "+-----------------------------------------------------+      "
  "|                      .section1                      | auto "
  "+-----------------------------------------------------+      "
  "                                                             "
  "+-----------------------------------------------------+      "
  "|                      .section2                      | auto "
  "+-----------------------------------------------------+      "
  "                                                             "
  "+-----------------------------------------------------+      "
  "|                      .section3                      | auto "
  "+-----------------------------------------------------+      "
  "                                                             "
  "+-----------------------------------------------------+      "
  "|                      .section4                      | auto "
  "+-----------------------------------------------------+      "
  "                                                             "
  "+-----------------------------------------------------+      "
  "|                      .section5                      | auto "
  "+-----------------------------------------------------+      "
  "                                                             "
  "+-----------------------------------------------------+      "
  "|                      .section6                      | auto "
  "+-----------------------------------------------------+      "
  "                                                             "
  "+-----------------------------------------------------+      "
  "|                         ↓                          | 60px "
  "|                    → footer ←                     |      "
  "+-----------------------------------------------------+      "
}

@media screen and (min-width: 640px) {
  body {
    grid-kiss:
    "+-----------------------------------------------------+      "
    "|                       header ↑                     | 64px "
    "+-----------------------------------------------------+      "
    "                                                             "
    "+-----------------------------------------------------+      "
    "|                       .banner                       | auto "
    "+-----------------------------------------------------+      "
    "                                                             "
    "+-----------------------------------------------------+      "
    "|                   .authentication                   | auto "
    "+-----------------------------------------------------+      "
    "                                                             "
    "+-----------------------+     +-----------------------+      "
    "|       .section1       |     |       .section2       | auto "
    "+-----------------------+     +-----------------------+      "
    "                                                             "
    "+-----------------------+     +-----------------------+      "
    "|       .section3       |     |       .section4       | auto "
    "+-----------------------+     +-----------------------+      "
    "                                                             "
    "+-----------------------+     +-----------------------+      "
    "|       .section5       |     |       .section6       | auto "
    "+-----------------------+     +-----------------------+      "
    "                                                             "
    "+-----------------------------------------------------+      "
    "|                         ↓                          | 60px "
    "|                    → footer ←                     |      "
    "+-----------------------------------------------------+      "
  }
}

@media screen and (min-width: 960px) {
  body {
    header {
      background: #ffffff;
      position: sticky;
      top: 0;
      z-index: 1;
    }

    .banner {
      background: url(https://via.placeholder.com/960x360?text=Visit+Blogging.com+Now) no-repeat center;
      background-size: 100%;
    }

    .container {
      background: #ffffff;
      section {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-around;
        .item {
          width: 100%;
          padding: 0 1rem;
        }
      }
    }


    grid-kiss:
    "+---------------------------------------+      "
    "|                header ↑              | 64px "
    "+---------------------------------------+      "
    "+---------------------------------------+      "
    "|                .banner                | auto "
    "+---------------------------------------+      "
    "+---------------------------------------+      "
    "|            .authentication            | auto "
    "+---------------------------------------+      "
    "+-----------+ +-----------+ +-----------+      "
    "| .section1 | | .section2 | | .section3 | auto "
    "+-----------+ +-----------+ +-----------+      "
    "+-----------+ +-----------+ +-----------+      "
    "| .section4 | | .section5 | | .section6 | auto "
    "+-----------+ +-----------+ +-----------+      "
    "+-----------------+   +-----------------+      "
    "|    .section7    |   |    .section8    | auto "
    "+-----------------+   +-----------------+      "
    "+---------------------------------------+      "
    "|                .section9              | auto "
    "+---------------------------------------+      "
    "+---------------------------------------+      "
    "|                    ↓                 | 60px "
    "|               → footer ←            |      "
    "+---------------------------------------+      "

  }
}
