@import 'layout.css';
@import 'parallax.css';

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  font-size: calc(1vw + 1vh + .5vmin);
  --heading-color: #fff000;
}

body {
  font: 1rem/1.6 sans-serif;
}

.center {
  text-align: center;
}

/* custom selectors */
@custom-selector :--headings h1, h2, h3, h4, h5, h6;

/* usage */
:--headings { 
  color: var(--heading-color);
}

