<html>
  <head>
    <style>
      main {
        width: 100%;
        min-height: 152px;
        display: flex;
      }
      main > span {
        position: absolute;
        top: 50%; left: 50%;
        background: #b4a078;
        color: white;
        padding: .3em 1em .5em;
        border-radius: 3px;
        box-shadow: 0 0 .5em #b4a078;
        margin-top: -16px;
        margin-left: -172px;
      }
    </style>
  </head>
  <body>
    <main>
      <span>position: absolute + calc() 限定宽高</span>
    </main>
  </body>
</html>
