<html>
  <head>
    <style>
.container {
  width: 258px;
  height: 300px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

.a { 
  flex: 0 0 33.333333%;
  height: 80px;
  box-sizing: border-box;
  border:2px solid #333333;
}

    </style>
  </head>
  <body>
    <div class="container">
      <div class="a"></div>
      <div class="a"></div>
      <div class="a"></div>
      <div class="a"></div>
      <div class="a"></div>
      <div class="a"></div>
    </div>
  </body>
</html>
